# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Spark output
spark/bronze/
spark/silver/
spark/gold/
spark/checkpoint/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/